/* General */

body{
    background-color: #eeeeee;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

h2{
    font-weight: bold;
    color: #222222;
}

/* Navbar */

.logo{
    height: 4rem;
}

.dropdown-menu{
    background-color: #162e44;
    margin-top: 0.45rem !important;
    border-top: none;
}

.navbar .dropdown-menu a{
    color: #fff;
}

.navbar .dropdown-menu a:hover{
    background-color: #162E44;
}

.navbar{
    background-color: #162E44;
}

.patyMenu{
    color: #fff;
}

/* Footer */
footer{
    background-color: #162E44;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

form aside{
    display: none;
}

.maintenance{
    position: relative;
    height: 150px;
    overflow: hidden;
}

.maintenance .background{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    background: white;
}

.maintenance .background span{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* border: 1px solid #01b3a7; */
    border-radius: .25rem;
}

.maintenance .background img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .3;
}

/* MD */
@media(min-width: 768px){
    .logo{
        height: 4rem;
    }
}

/* LG */
@media(min-width: 1024px){
    .modal-dialog{
        max-width: 900px;
    }
    .logo{
        height: 4rem;
    }
}

/* XL */
@media(min-width: 1200px){
    .logo{
        height: 4rem;
    }
}