/* General */

body{
    background-color: #eeeeee;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

h2{
    font-weight: bold;
    color: #222222;
}

/* Navbar */
.dropdown-menu{
    background-color: #162e44;
    margin-top: 0.45rem !important;
    border-top: none;
}

.navbar .dropdown-menu a{
    color: #fff;
}

.navbar .dropdown-menu a:hover{
    background-color: #162E44;
}

.navbar{
    background-color: #162E44;
}

.patyMenu{
    color: #fff;
}

/* Footer */
footer{
    background-color: #162E44;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}