/* General */

body{
    background-color: #eeeeee;
}

h2{
    font-weight: bold;
    color: #222222;
}

/* Navbar */
.navbar{
    background-color: #162E44;
}

.patyMenu{
    color: #fff;
}

/* Footer */
footer{
    background-color: #162E44;
}