/* Productos */
.productos .card {
    background: transparent;
    box-shadow: none;
    color: #222222;
}

.productos .card > div:last-of-type{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.productos .card > div:first-of-type img{
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}