/* Body */
body{
    min-height: 0;
    padding-bottom: 0;
}


/* Jumbotron */
.jumbotron{
    height: 89.4vh;
}

.jumbotron h2{
    font-size: 2.5rem;
}

.jumbotron h2 strong{
    text-shadow: 2px 0 5px rgba(139, 188, 229, 0.19), -2px 0 5px rgba(139, 188, 229, 0.19), 0 2px 5px rgba(139, 188, 229, 0.19), 0 -2px 5px rgba(139, 188, 229, 0.19), 1px 1px 5px rgba(139, 188, 229, 0.19), -1px -1px 5px rgba(139, 188, 229, 0.19), 1px -1px 5px rgba(139, 188, 229, 0.19), -1px 1px 5px rgba(139, 188, 229, 0.19);
}

.jumbotron p{
    text-shadow: 2px 0 5px rgba(94, 100, 105, 0.2), -2px 0 5px rgba(139, 188, 229, 0.2), 0 2px 5px rgba(139, 188, 229, 0.2), 0 -2px 5px rgba(139, 188, 229, 0.2), 1px 1px 5px rgba(139, 188, 229, 0.2), -1px -1px 5px rgba(139, 188, 229, 0.2), 1px -1px 5px rgba(139, 188, 229, 0.2), -1px 1px 5px rgba(139, 188, 229, 0.2);
}


.jumbotron.card a{
    background-color: #01B3A7;
    color: white;
    border-radius: .19rem;
}

/* MD */
@media(min-width: 768px){
}

/* LG */
@media(min-width: 1024px){
    /* Jumbotron */
    .jumbotron a:hover{
        font-weight: bold !important;
        transition: .5s;
        background-color: rgb(40, 169, 192);
    }
}

/* XL */
@media(min-width: 1200px){
    .jumbotron{
        height: 90.5vh;
    }
}