.dropdown-menu{
    background-color: #162e44;
    margin-top: 0.45rem !important;
    border-top: none;
}

.navbar .dropdown-menu a{
    color: #fff;
}

/* Jumbotron */
.jumbotron h2{
    font-size: 2.5rem;
}

.jumbotron.card a{
    background-color: #01B3A7;
    color: white;
    border-radius: .25rem;
}

/* Productos */
.productos .card{
    color: #162e44;
    position: relative;
    background: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.productos .card > div{
    background-color: white;
    border-radius: .25rem;
    position: relative;
}

.productos .card > div img{
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

/* Quienes Somos */
.quienes-somos{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/* Contacto */
.contacto form{
    padding: 0 3rem;
}

/* Contacto */
.contacto{
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.contacto form button{
    background-color: #01B3A7;
    color: white;
}

/* MD */
@media(min-width: 768px){
    /* Informacion */
    .quienes-somos, .contacto{
        border-radius: .25rem;
    }

    /* productos */

    .productos .card-img-top{
        height: 12rem;
        object-fit: cover;
    }
}

/* LG */
@media(min-width: 1024px){
    /* Jumbotron */
    .jumbotron a:hover{
        font-weight: bold !important;
        transition: .5s;
        background-color: #228b22e3;
    }

    /* Productos */
    .productos .card{
        box-shadow: none;
    }

    .productos .card > div{
        overflow: hidden;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    }

    .productos .card span{
        position: absolute;
        transition: .5s;
        transform: translateX(0);
        transform: translateY(0);
    }
    
    .productos .card .top-line{
        top: 0;
        left: -100%;
        width: 100%;
        height: 5px;
        background-color: #162e44;
    }
    
    .productos .card:hover .top-line{
        transform: translateX(100%);
    }
    
    .productos .card .right-line{
        right: 0;
        bottom: 100%;
        width: 5px;
        height: 100%;
        background-color: #162e44;
    }
    
    .productos .card:hover .right-line{
        transform: translateY(100%);
    }
    
    .productos .card .bottom-line{
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 5px;
        background-color: #162e44;
    }
    
    .productos .card:hover .bottom-line{
        transform: translateX(-100%);
    }
    
    .productos .card .left-line{
        left: 0;
        top: 100%;
        width: 5px;
        height: 100%;
        background-color: #162e44;
    }
    
    .productos .card:hover .left-line{
        transform: translateY(-100%);
    }

    .productos .card-img-top{
        height: 14rem;
        object-fit: cover;
    }
    

    /* Contacto */
    .contacto form button:hover{
        transition: .5s;
        font-weight: bold !important;
        color: white;
        background-color: #228b22e3;
    }
}

/* XL */
@media(min-width: 1200px){
    /* productos */

    .productos .card-img-top{
        height: 18rem;
        object-fit: cover;
    }
}