/* color del navbar */
.navbar{
    background-color: #FFFFFF;
}

/* Color del incono del menu */
.patyMenu{
    color: #03a9f4;
}

/* jumbotron h2 */
.jumbotron h2{
    font-size: 2.5rem;
}

/* quienes somos h2 */

.quienes-somos h2{
    font-size: 2rem;
}

/* contacto form padding*/

.contacto form{
    padding: 2rem 3rem;
}